    @import "./utils/variables";
    @import"./utils/mixins";
    @import"./layouts/footer";
    @import"./components/button";
    /* Animation du loader */
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
            opacity: 0;
        }
    }
    /* Animation apparition des menus */
    
    @keyframes menuanim {
        from {
            transform: translateY(0);
            opacity: 0;
        }
        to {
            transform: translateY(-20px);
            opacity: 1;
        }
    }
    
    @media (max-width: 2560px) and (min-width: 767px) {
        html {
            body {
                font-family: Roboto, sans-serif;
                h1 {
                    font-family: 'Shrikhand', cursive;
                    display: flex;
                    justify-content: center;
                }
                h2 {
                    margin-left: 5%;
                }
            }
        }
        .position {
            display: flex;
            justify-content: center;
            font-size: 1.2em;
            background-color: rgb(234, 234, 234);
            .local__icon {
                display: flex;
                align-items: center;
                margin-right: 3%;
            }
        }
        .headertxt {
            text-align: center;
            background-color: $colour-bgaccueil;
            padding: 2%;
        }
        .Fonctionnement {
            display: flex;
            flex-direction: row;
            align-items: center;
            h2 {
                margin-left: 1%;
            }
            ol {
                margin-right: 2%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li {
                    width: 22.5%;
                    padding: 3%;
                    background-color: $colour-bgaccueil;
                    border-radius: 20px;
                    box-shadow: 0.25rem 0.25rem 0.5rem gray;
                    .chiffre {
                        background-color: #9356DC;
                        border-radius: 50%;
                        padding: 5px 8px 5px 8px;
                        margin-left: -18%;
                        margin-right: 10%;
                    }
                    .tuto__icon {
                        margin-right: 5%;
                    }
                }
            }
        }
        .restaurants {
            background-color: $colour-bgaccueil;
            padding-top: 1%;
            padding-bottom: 2%;
            .conteneurresto {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: stretch;
            }
            .bloccarte {
                width: 40%;
                border-radius: 15px;
                margin-left: 4%;
                margin-right: 4%;
                margin-bottom: 5%;
                box-shadow: 0.25rem 0.25rem 0.5rem gray;
                position: relative;
                z-index: 0;
                .news {
                    position: absolute;
                    top: 5%;
                    right: 4%;
                    z-index: 1;
                    background-color: #99E2D0;
                    color: darken(#99E2D0, 30%);
                    height: 17px;
                    width: 20%;
                    text-align: center;
                    padding: 2%;
                }
                .carte {
                    text-decoration: none;
                }
                img {
                    width: 100%;
                    height: 250px;
                    border-radius: 15px 15px 0px 0px;
                    object-fit: cover;
                }
                .bloctxtcoeur {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    color: black;
                    .txtimg {
                        line-height: 0.5em;
                        margin-left: 3%;
                    }
                    .coeur {
                        margin-right: 8%;
                        font-size: 2em;
                        i.fas.fa-heart {
                            display: none;
                        }
                    }
                }
            }
        }
        // Codage des pages restaurants//
        body {
            background-color: $colour-bgaccueil;
        }
        .headergout {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            margin-right: 15%;
        }
        img {
            width: 100%;
            height: 1000px;
            object-fit: cover;
        }
        .conteneurpalettegout {
            background-color: #f6f6f6;
            margin-top: -35%;
            padding-bottom: 5%;
            position: relative;
            border-radius: 35px 35px 0px 0px;
            box-shadow: 0.25rem 0.25rem 10px #3535358a;
            opacity: 0.9;
            .TitreMenuPalette {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                h1 {
                    margin-left: 4%;
                    font-size: 1.7em;
                }
                .coeur {
                    margin-right: 6%;
                }
            }
        }
        .menu {
            margin-bottom: 10%;
            h3 {
                margin-left: 5%;
                color: gray;
            }
        }
        .conteneurmenu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0.25rem 0.25rem 0.5rem gray;
            width: 90%;
            margin-left: 5%;
            margin-bottom: 5%;
            .txtmenu {
                margin-left: 3%;
            }
            .prix {
                margin-right: 5%;
                margin-top: 13%;
            }
        }
    }
    
    @media (max-width: 425px) {
        html {
            body {
                font-family: Roboto, sans-serif;
                border: 2px solid black;
                h1 {
                    font-family: 'Shrikhand', cursive;
                    display: flex;
                    justify-content: center;
                }
                h2 {
                    margin-left: 5%;
                }
                .conteneurloader {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    background-color: #fff;
                    z-index: 100;
                    .loader {
                        /* Création du loader */
                        border: 10px solid #f3f3f3;
                        border-top: 10px solid pink;
                        border-bottom: 10px solid purple;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        animation: spin 2s linear forwards;
                        /* placement du loader au milieu de la page */
                        margin: auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
        .position {
            display: flex;
            justify-content: center;
            font-size: 1.2em;
            background-color: rgb(234, 234, 234);
            .local__icon {
                display: flex;
                align-items: center;
                margin-right: 3%;
            }
        }
        .headertxt {
            text-align: center;
            background-color: $colour-bgaccueil;
            padding: 10%;
        }
        .Fonctionnement {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            .tuto {
                list-style: none;
                font-size: 0.9em;
                font-weight: bold;
                width: 80%;
                padding: 7%;
                margin-bottom: 15%;
                background-color: $colour-bgaccueil;
                border-radius: 20px;
                box-shadow: 0.25rem 0.25rem 0.5rem gray;
                .chiffre {
                    background-color: #9356DC;
                    border-radius: 50%;
                    padding: 5px 8px 5px 8px;
                    margin-left: -13%;
                    margin-right: 6%;
                }
                .tuto__icon {
                    margin-right: 5%;
                }
            }
        }
        ol {
            padding-left: 20px;
        }
        .restaurants {
            background-color: $colour-bgaccueil;
            padding-top: 7%;
            padding-bottom: 7%;
            .bloccarte {
                border-radius: 15px;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 6%;
                box-shadow: 0.25rem 0.25rem 0.5rem gray;
                position: relative;
                z-index: 0;
                .news {
                    position: absolute;
                    top: 5%;
                    right: 4%;
                    z-index: 1;
                    background-color: #99E2D0;
                    color: darken(#99E2D0, 30%);
                    height: 17px;
                    width: 20%;
                    text-align: center;
                    padding: 2%;
                }
                .carte {
                    text-decoration: none;
                }
                img {
                    width: 100%;
                    height: 250px;
                    border-radius: 15px 15px 0px 0px;
                    object-fit: cover;
                }
                .bloctxtcoeur {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    color: black;
                    .txtimg {
                        line-height: 0.5em;
                        margin-left: 3%;
                    }
                    .coeur {
                        font-size: 2em;
                        margin-right: 8%;
                        .coeurvide {
                            position: relative;
                            z-index: 1;
                            opacity: 1;
                        }
                        .coeurplein {
                            position: absolute;
                            right: 8%;
                            z-index: 2;
                            opacity: 0;
                        }
                    }
                }
            }
        }
        // Codage des pages restaurants//
        .headergout {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            margin-right: 15%;
        }
        img {
            width: 100%;
        }
        .conteneurpalettegout {
            background-color: #f6f6f6;
            margin-top: -12%;
            padding-bottom: 15%;
            position: relative;
            border-radius: 35px 35px 0px 0px;
            .TitreMenuPalette {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                h1 {
                    margin-left: 4%;
                    font-size: 1.6em;
                }
                .coeur {
                    margin-right: 6%;
                }
            }
        }
        .menu {
            margin-bottom: 10%;
            h3 {
                margin-left: 5%;
                color: gray;
            }
            .barre {
                height: 3px;
                width: 17%;
                margin-left: 5%;
                margin-top: -5%;
                margin-bottom: 9%;
                background-color: #99E2D0;
            }
        }
        .conteneurmenu {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0.25rem 0.25rem 0.5rem gray;
            width: 90%;
            margin-left: 5%;
            margin-bottom: 5%;
            opacity: 0;
            animation: menuanim 400ms forwards;
            .txtmenu {
                margin-left: 3%;
            }
            .prix {
                margin-right: 5%;
                margin-top: 13%;
            }
        }
        .delay-0 {
            animation-delay: 0;
        }
        .delay-1 {
            animation-delay: 1s;
        }
        .delay-2 {
            animation-delay: 2s;
        }
        .delay-3 {
            animation-delay: 3s;
        }
        .delay-4 {
            animation-delay: 4s;
        }
        .delay-5 {
            animation-delay: 5s;
        }
        .delay-6 {
            animation-delay: 6s;
        }
        .delay-7 {
            animation-delay: 7s;
        }
        .delay-8 {
            animation-delay: 8s;
        }
    }