footer {
    background-color: #353535;
    padding-bottom: 3%;
    padding-top: 2%;
}

footer h4 {
    font-family: Shrikhand, "cursive";
    font-size: 1.2em;
    color: #fff;
    margin-left: 9%;
}

ul {
    list-style: none;
    color: white;
}

ul li {
    margin-bottom: 3%;
}

ul li a {
    text-decoration: none;
    color: white;
}

.btn {
    width: 75%;
    padding: 5%;
    border-radius: 30px;
    background: linear-gradient(RGB(255, 121, 218, 0.9), RGB(147, 86, 220, 0.9));
    box-shadow: 0.25rem 0.25rem 10px #3535358a;
    color: #fff;
    border: none;
    transition: 400ms;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0.25rem 0.25rem 10px black;
}

.commander {
    width: 50%;
    margin-left: 25%;
    padding: 5%;
    border-radius: 30px;
    background: linear-gradient(RGB(255, 121, 218, 0.9), RGB(147, 86, 220, 0.9));
    box-shadow: 0.25rem 0.25rem 10px #3535358a;
    color: #fff;
    border: none;
    justify-content: center;
    transition: 400ms;
}

.commander:hover {
    opacity: 0.9;
    box-shadow: 0.25rem 0.25rem 10px black;
}

@media (max-width: 450px) {
    html body {
        font-family: Roboto, sans-serif;
        border: 2px solid black;
    }
    html body h1 {
        font-family: "Shrikhand", cursive;
        display: flex;
        justify-content: center;
    }
    html body h2 {
        margin-left: 5%;
    }
    .position {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        background-color: #eaeaea;
    }
    .position .local__icon {
        display: flex;
        align-items: center;
        margin-right: 3%;
    }
    .headertxt {
        text-align: center;
        background-color: #f6f6f6;
        padding: 10%;
    }
    .Fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .Fonctionnement .tuto {
        width: 65%;
        padding: 8%;
        margin-bottom: 15%;
        background-color: #f6f6f6;
        border-radius: 20px;
        box-shadow: 0.25rem 0.25rem 0.5rem gray;
    }
    .Fonctionnement .tuto .tuto__icon {
        margin-right: 5%;
    }
    .restaurants {
        background-color: #f6f6f6;
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .restaurants .bloccarte {
        border-radius: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 6%;
        box-shadow: 0.25rem 0.25rem 0.5rem gray;
    }
    .restaurants .bloccarte .carte {
        text-decoration: none;
    }
    .restaurants .bloccarte img {
        width: 100%;
        height: 250px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }
    .restaurants .bloccarte .bloctxtcoeur {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: black;
    }
    .restaurants .bloccarte .bloctxtcoeur .txtimg {
        line-height: 0.5em;
        margin-left: 3%;
    }
    .restaurants .bloccarte .bloctxtcoeur .coeur {
        margin-right: 8%;
        font-size: 2em;
    }
    .restaurants .bloccarte .bloctxtcoeur .coeur i.fas.fa-heart {
        display: none;
    }
    .headergout {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 15%;
    }
    img {
        width: 100%;
    }
    .conteneurpalettegout {
        background-color: #f6f6f6;
        margin-top: -12%;
        padding-bottom: 15%;
        position: relative;
        border-radius: 35px 35px 0px 0px;
    }
    .conteneurpalettegout .TitreMenuPalette {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .conteneurpalettegout .TitreMenuPalette h1 {
        margin-left: 4%;
        font-size: 1.7em;
    }
    .conteneurpalettegout .TitreMenuPalette .coeur {
        margin-right: 6%;
    }
    .menu {
        margin-bottom: 10%;
    }
    .menu h3 {
        margin-left: 5%;
        color: gray;
    }
    .conteneurmenu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0.25rem 0.25rem 0.5rem gray;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .conteneurmenu .txtmenu {
        margin-left: 3%;
    }
    .conteneurmenu .prix {
        margin-right: 5%;
        margin-top: 13%;
    }
}


/*# sourceMappingURL=style.css.map */